<span class="header">Groups</span>
<a mat-button color="primary"  [routerLink]="['/group-create']"routerLinkActive="mat-accent">New Group</a>
<br>
<two-ways-bindings></two-ways-bindings>
<br>
  <input matInput #filterValue  (keyup)="applyFilter($event.target.value)"  placeholder="Filter by:">
  <br>
  <input id="filterByTitle" type="checkbox" (change)="applyFilterType($event.target.checked, filterValue.value, 'filterByTitle')" [checked]='filterByTitle' placeholder="By Title" title="By Title" value="By Title"> 
  <label for="filterByTitle">By Title</label>
  <input id="filterByDesc" type="checkbox" (change)="applyFilterType($event.target.checked, filterValue.value, 'filterByDesc')" [checked]='filterByDesc' placeholder="By Description" title="By Description" value="By Description"> 
  <label for="filterByDesc">By Description</label>
  <input id="filterByImage" type="checkbox" (change)="applyFilterType($event.target.checked, filterValue.value, 'filterByImage')" [checked]='filterByImage' placeholder="By Image" title="By Image" value="By Image"> 
  <label for="filterByImage">By Image</label>
  <br>
  <br>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="groups.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let group of groups">
    <mat-expansion-panel-header>
      {{ group.title }}
    </mat-expansion-panel-header>
    <div class="group-image">
      <img [src]="group.imagePath" [alt]="group.title">
    </div>
    <p>{{ group.description }}</p>
    <mat-action-row>
      <a mat-button color="primary" [routerLink]="['/group-edit', group.id]">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(group.id)">DELETE</button>
      <!--
      <a mat-button color="primary" [routerLink]="['/checklist-list', group.id]">Check Lists</a>
      -->
    </mat-action-row>
    <!--
    <app-checklist-list [groupId]="group.id" >

    </app-checklist-list>
  -->
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length]="totalGroups" [pageSize]="groupsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"
  *ngIf="groups.length > 0"></mat-paginator>
<p class="info-text mat-body-1" *ngIf="groups.length <= 0 && !isLoading">No group added yet!</p>
