<span class="header">Checklist Items</span>
<a mat-button color="primary"  [routerLink]="['/checklistItem-create', checklistId]"routerLinkActive="mat-accent">New Checklist Item</a>
<mat-spinner *ngIf="isLoading"></mat-spinner>

<mat-form-field>
  <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
</mat-form-field>

<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource"  *ngIf="checklistItems.length > 0 && !isLoading" matSort>

    <!-- ID Column -->
    <!--
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>ID</th>
      <td mat-cell *matCellDef="let row"> <a mat-button color="primary" [routerLink]="['/checklistItem-edit', row.id]">{{row.id}}</a>  </td>
    </ng-container>
    -->
    <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <th mat-header-cell *matHeaderCellDef>
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="$event ? masterToggle() : null"
                    [checked]="selection.hasValue() && isAllSelected()"
                    [indeterminate]="selection.hasValue() && !isAllSelected()">
      </mat-checkbox>
    </th>
    <td mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()"
                    (change)="toggle(row)"
                    [checked]="row.isDone">
      </mat-checkbox>
    </td>
  </ng-container>

    <!-- Progress Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
      <td mat-cell *matCellDef="let row"> {{row.title}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="description">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
      <td mat-cell *matCellDef="let row"> {{row.description}} </td>
    </ng-container>

    <!-- Color Column -->
    <ng-container matColumnDef="isDone">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Done? </th>
      <td mat-cell *matCellDef="let row" > {{row.isDone}} </td>
    </ng-container>

    <ng-container matColumnDef="EDIT">
      <th mat-header-cell *matHeaderCellDef mat-sort-header  style="width: 15px"> </th>
      <td mat-cell *matCellDef="let row"  style="width: 15px"> <a mat-button color="primary" [routerLink]="['/checklistItem-edit', row.id]">EDIT</a>  </td>
    </ng-container>

    <ng-container matColumnDef="DELETE">
      <th mat-header-cell *matHeaderCellDef mat-sort-header style="width: 15px"> </th>
      <td mat-cell *matCellDef="let row"  style="width: 15px"> <button mat-button color="warn" (click)="onDelete(row.id)">DELETE</button>  </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;">
    </tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" *ngIf="checklistItems.length "></mat-paginator>

  <div *ngIf="checklistItems.length <= 0 && !isLoading"> 
    <p class="info-text mat-body-1" >No ChecklistItems added yet!</p>
  </div>

</div>

<!--
<mat-accordion multi="true" *ngIf="checklistItems.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let checklistItems of checklistItems">
    <mat-expansion-panel-header>
      {{ checklistItems.title }}
    </mat-expansion-panel-header>
    <div class="checklistItems-image">
      <img [src]="checklistItems.imagePath" [alt]="checklistItems.title">
    </div>
    <p>{{ checklistItems.content }}</p>
    <mat-action-row>
      <a mat-button color="primary" [routerLink]="['/checklistItem-edit', checklistItems.id]">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(checklistItems.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length]="totalChecklistItems" [pageSize]="checklistItemsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"
  *ngIf="checklistItems.length > 0"></mat-paginator>

<div *ngIf="checklistItems.length <= 0 && !isLoading"> 
  <p class="info-text mat-body-1" >No ChecklistItems added yet!</p>
</div>
-->