<mat-card>
  <mat-spinner *ngIf="isLoading"></mat-spinner>

<div class="form-container">
<!--  <a routerLink="/login" id="goback">Go back</a> -->

<h2>Join now</h2>
<span class="error" *ngIf="error" >{{ error }}</span>
<form   [formGroup]="form" (submit)="onSubmit()" *ngIf="!isLoading">
    <mat-form-field>
        <input matInput type="text" formControlName="email" placeholder="Email address..">
        <mat-error *ngIf="form.get('email').invalid">Please enter an Email address.</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
          <input matInput type="text" formControlName="password" placeholder="Password">
          <mat-error *ngIf="form.get('password').invalid">Please enter a valid password.</mat-error>
      </mat-form-field>

      <br>
      <mat-form-field>
          <input google-place  (onSelect)="setAddress($event)" matInput type="text" formControlName="address" placeholder="Type to search Address..."     class="google-place-input" >
          <mat-error *ngIf="form.get('address').invalid">Please enter a valid Addreess.</mat-error>
          <!-- Displaying the contents of the address object received from our event emitter -->
            <ul style="list-style-type: none;">
                <li *ngFor="let key of addrKeys">
                <span style="font-weight: bold">{{key}}</span>: <span>{{addr[key]}}</span>
                </li>
            </ul>

      </mat-form-field>
      <br>
      <mat-form-field>
          <input matInput type="text" formControlName="latitude" placeholder="Latitude">
          <mat-error *ngIf="form.get('latitude').invalid">Please enter a valid latitude.</mat-error>
      </mat-form-field>
      <br>
      <mat-form-field>
          <input matInput type="text" formControlName="longitude" placeholder="Longitude">
          <mat-error *ngIf="form.get('longitude').invalid">Please enter a valid longitude.</mat-error>
      </mat-form-field>


      <div class="row">
          <button mat-raised-button color="primary" type="submit" [disabled]="form.get('password').invalid" >Create my account</button> 
      </div>
      <div class="row">
          &nbsp;
      </div>
      <!--
      <agm-map [latitude]="latitude" [longitude]="longitude" [scrollwheel]="false" [zoom]="zoom">
            <agm-marker [latitude]="latitude" [longitude]="longitude"></agm-marker>
      </agm-map>
        -->

      <agm-map 
      [latitude]="latitude"
      [longitude]="longitude"
      [zoom]="zoom"
      [disableDefaultUI]="false"
      [zoomControl]="false"
      (mapClick)="mapClicked($event)">
    
      <agm-marker 
          *ngFor="let m of markers; let i = index"
          (markerClick)="clickedMarker(m.label, i)"
          [latitude]="m.lat"
          [longitude]="m.lng"
          [label]="m.label"
          [markerDraggable]="m.draggable"
          (dragEnd)="markerDragEnd(m, $event)">
          
        <agm-info-window>
          <strong>InfoWindow content</strong>
        </agm-info-window>
        
      </agm-marker>
      
      <agm-circle [latitude]="latitude + 0.3" [longitude]="longitude" 
          [radius]="5000"
          [fillColor]="'red'"
          [circleDraggable]="true"
          [editable]="true">
      </agm-circle>
    
    </agm-map>

    </form>
</div>
</mat-card>
