<span class="header">Group Checklists</span>
<a mat-button color="primary"  [routerLink]="['/checklist-create', checklistId]"routerLinkActive="mat-accent">New Checklist</a>
<br>
  <input matInput #filterValue  (keyup)="applyFilter($event.target.value)"  placeholder="Filter by Checklist Title">
  <br>
  <span>Filter by:</span> 
  <input id="filterByTitle" type="checkbox" (change)="applyFilterType($event.target.checked, filterValue.value, 'filterByTitle')" [checked]='filterByTitle' placeholder="By Title" title="By Title" value="By Title"> 
  <label for="filterByTitle">By Title</label>
  <input id="filterByDesc" type="checkbox" (change)="applyFilterType($event.target.checked, filterValue.value, 'filterByDesc')" [checked]='filterByDesc' placeholder="By Description" title="By Description" value="By Description"> 
  <label for="filterByDesc">By Description</label>

  <br>
  <br>
<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="checklists.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let checklist of checklists">
    <mat-expansion-panel-header>
      {{ checklist.title }}
    </mat-expansion-panel-header>
    <!--
    <div class="checklist-image">
      <img [src]="checklist.imagePath" [alt]="checklist.title">
    </div>
    -->
    <p>{{ checklist.description }}</p>
    <mat-action-row>
      <a mat-button color="primary" [routerLink]="['/checklist-edit', checklist.id]">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(checklist.id)">DELETE</button>
      <!--<a mat-button color="primary" [routerLink]="['/checklist-list', checklist.id]">Checklists</a>-->
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length]="totalChecklists" [pageSize]="checklistsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"
  *ngIf="checklists.length > 0"></mat-paginator>

<div *ngIf="checklists.length <= 0 && !isLoading"> 
  <p class="info-text mat-body-1" >No Checklist added yet!</p>
</div>
