<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="checklists.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let checklist of checklists">
    <mat-expansion-panel-header>
      {{ checklist.title }}
    </mat-expansion-panel-header>
    <div class="checklist-image">
      <img [src]="checklist.imagePath" [alt]="checklist.title">
    </div>
    <p>{{ checklist.content }}</p>
    <mat-action-row>
      <a mat-button color="primary" [routerLink]="['/checklist-edit', checklist.id]">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(checklist.id)">DELETE</button>
      <!--<a mat-button color="primary" [routerLink]="['/checklist-list', checklist.id]">Checklists</a>-->
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator [length]="totalChecklists" [pageSize]="checklistsPerPage" [pageSizeOptions]="pageSizeOptions" (page)="onChangedPage($event)"
  *ngIf="checklists.length > 0"></mat-paginator>

<div *ngIf="checklists.length <= 0 && !isLoading"> 
  <p class="info-text mat-body-1" >No Checklist added yet!</p>
  <a mat-button [routerLink]="['/checklist-create', groupId]"routerLinkActive="mat-accent">New Checklist</a>
</div>
