<mat-toolbar color="primary">
  <span>
    <a routerLink="/">Smart List --</a>
  </span>
  <span class="spacer"></span>
  <!--<ul>
    <li>
      <a mat-button routerLink="/create" routerLinkActive="mat-accent">New Note</a>
    </li>
  </ul>
  -->
  <ul>
    <li>
      <a mat-button routerLink="/group-list" routerLinkActive="mat-accent">Groups</a>
    </li>
  </ul>
  <ul>
      <li>
        <a mat-button routerLink="/group-create" routerLinkActive="mat-accent">New Group</a>
      </li>
    </ul>
    <ul>
      <li>
        <a mat-button routerLink="/group-hll" routerLinkActive="mat-accent">Group Count</a>
      </li>
    </ul>
    <ul>
      <li>
        <a mat-button routerLink="/group-Checklists" routerLinkActive="mat-accent">Group Chart</a>
      </li>
    </ul>
      <ul>
     <li>
        <a mat-button routerLink="/" (submit)="onSubmit()"  >
          <button mat-icon-button (click)="logout()">
              Logout
           </button>
           </a>
      </li>
    </ul>
</mat-toolbar>
