div.textarea {
    width: 100%;  
  }
  
  textarea {
      width: 100%;  
    }
    
  mat-form-field {
      width: 100%;
    }

    span.header {
      font-style: italic;
      font-weight: bold
  }
  